<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806110282711-qvcna2ufqt7f59og4tjlpvdbj2bavtp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806110282711-qvcna2ufqt7f59og4tjlpvdbj2bavtp0</string>
	<key>API_KEY</key>
	<string>AIzaSyBfXn3YTph8LCiiui3KPk-1M2SMRPOlgos</string>
	<key>GCM_SENDER_ID</key>
	<string>806110282711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tapyn</string>
	<key>PROJECT_ID</key>
	<string>tapyn-2ff68</string>
	<key>STORAGE_BUCKET</key>
	<string>tapyn-2ff68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806110282711:ios:21d51dff50389470eb4192</string>
</dict>
</plist>